@charset "UTF-8";
body {
  max-width: 1366px;
  background-color: #EEEEEE;
  margin: 0 auto;
}

body .top-img {
  height: 600px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  body .top-img {
    height: 400px;
  }
}

body .top-img .bg-b {
  position: relative;
  width: 100%;
}

body .top-img .bg-b .bg {
  width: 100%;
  max-width: 100%;
  height: 600px;
}

@media screen and (max-width: 767px) {
  body .top-img .bg-b .bg {
    height: 400px;
  }
}

body .top-img .bg-b::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  height: 600px;
}

@media screen and (max-width: 767px) {
  body .top-img .bg-b::before {
    height: 400px;
  }
}

body .top-img .main-logo {
  position: absolute;
  top: 190px;
  left: 30%;
}

@media screen and (max-width: 1225px) {
  body .top-img .main-logo {
    left: 20%;
    top: 89%x;
  }
}

@media screen and (max-width: 767px) {
  body .top-img .main-logo {
    left: 20%;
    top: 17%;
  }
}

body .top-img .main-logo img {
  width: 550px;
  z-index: 1;
}

@media screen and (max-width: 1225px) {
  body .top-img .main-logo img {
    width: 70%;
  }
}

body .top-img .main-logo-hidden {
  position: absolute;
  text-align: center;
  width: 500px;
  height: 153px;
  right: 2.5rem;
  background-color: red;
  color: #fff;
  font-size: 2.5rem;
  padding: 30px;
  font-weight: bold;
  top: 190px;
  left: 420px;
}

@media screen and (max-width: 767px) {
  body .top-img .main-logo-hidden {
    width: 60%;
    height: 55px;
    font-size: 1.2rem;
    padding: 10px;
    left: 20%;
    top: 17%;
  }
}

body .top-img .main-logo-hidden p {
  margin: 0;
  line-height: 3.2rem;
}

@media screen and (max-width: 767px) {
  body .top-img .main-logo-hidden p {
    line-height: 1.2rem;
  }
}

body .first {
  margin: 0 auto;
}

body .first .introduction-no1 {
  display: flex;
  justify-content: space-between;
  height: 430px;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no1 {
    height: 330px;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no1 {
    display: block;
    height: auto;
  }
}

body .first .introduction-no1 .content {
  width: 800px;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no1 .content {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no1 .content {
    height: 200px;
    width: 100%;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
  }
}

body .first .introduction-no1 .content h1 {
  font-family: 'DIN Condensed','Yu Gothic',sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 0;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no1 .content h1 {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no1 .content h1 {
    margin-top: 30px;
    margin-left: 10px;
    padding-top: 0;
    width: 90%;
  }
}

body .first .introduction-no1 .content h3 {
  text-align: center;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no1 .content h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no1 .content h3 {
    margin-top: 30px;
  }
}

body .first .introduction-no1 .content p {
  margin: 0 auto;
  width: 400px;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no1 .content p {
    width: 90%;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no1 .content p {
    width: 95%;
  }
}

body .first .introduction-no1 .pasta {
  z-index: 0;
  order: 2;
  overflow: hidden;
  position: relative;
}

body .first .introduction-no1 img {
  max-width: 765px;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no1 img {
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no1 img {
    width: 100%;
  }
}

body .first .introduction-no1 .pasta::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
  top: 0px;
  border-style: solid;
  border-color: transparent transparent transparent #EEEEEE;
  border-width: 225px 0 225px 100px;
  display: block;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no1 .pasta::before {
    border-width: 165px 0 165px 100px;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no1 .pasta::before {
    display: none;
  }
}

body .first .introduction-no2 {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  height: 450px;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no2 {
    height: 330px;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no2 {
    display: block;
    height: auto;
  }
}

body .first .introduction-no2 .content {
  order: 2;
  width: 800px;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no2 .content {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no2 .content {
    width: 100%;
    margin-right: 0;
    height: 220px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no2 .content .title {
    order: 2;
  }
}

body .first .introduction-no2 .content .title h1 {
  font-family: 'DIN Condensed','Yu Gothic',sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 0;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no2 .content .title h1 {
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no2 .content .title h1 {
    margin-top: 30px;
    padding-top: 0;
    margin-right: 10px;
    width: 80%;
  }
}

body .first .introduction-no2 .content h3 {
  text-align: center;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no2 .content h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no2 .content h3 {
    width: 90%;
    margin: 15px auto;
  }
}

body .first .introduction-no2 .content p {
  margin: 0 auto;
  width: 400px;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no2 .content p {
    width: 90%;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no2 .content p {
    width: 95%;
    font-size: 14px;
  }
}

body .first .introduction-no2 .pasta {
  z-index: 0;
  position: relative;
  overflow: hidden;
}

body .first .introduction-no2 img {
  max-width: 765px;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no2 img {
    width: 600px;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no2 img {
    width: 100%;
  }
}

body .first .introduction-no2 .pasta::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin: auto;
  top: 0px;
  right: 0;
  border-style: solid;
  border-color: transparent #EEEEEE transparent transparent;
  border-width: 225px 100px 225px 10px;
}

@media screen and (max-width: 1225px) {
  body .first .introduction-no2 .pasta::after {
    border-width: 165px 100px 165px 0px;
  }
}

@media screen and (max-width: 767px) {
  body .first .introduction-no2 .pasta::after {
    display: none;
  }
}

body .menu {
  max-width: 1100px;
  margin: 60px auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1225px) {
  body .menu {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  body .menu {
    display: block;
  }
}

@media screen and (max-width: 1225px) {
  body .menu .lunch {
    margin-right: 60px;
  }
}

@media screen and (max-width: 1225px) and (max-width: 767px) {
  body .menu .lunch {
    margin-right: 0;
  }
}

body .menu .lunch h2 {
  font-family: 'DIN Condensed','Yu Gothic',sans-serif;
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

body .menu .lunch p {
  text-align: center;
  margin-bottom: 30px;
}

body .menu .lunch .icon-img {
  position: relative;
}

@media screen and (max-width: 767px) {
  body .menu .lunch .icon-img {
    display: flex;
    justify-content: space-between;
    position: static;
  }
}

body .menu .lunch .icon-img .pasta-menu {
  position: relative;
  left: 40px;
  display: inline-block;
  transition: all 1s ease 0s;
}

@media screen and (max-width: 767px) {
  body .menu .lunch .icon-img .pasta-menu {
    left: 60px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 1225px) {
  body .menu .lunch .icon-img .pasta-menu img {
    width: 80px;
  }
}

@media screen and (max-width: 1225px) and (max-width: 767px) {
  body .menu .lunch .icon-img .pasta-menu img {
    width: 100px;
  }
}

body .menu .lunch .icon-img .pasta-menu span {
  position: absolute;
  top: 130px;
  left: 3px;
  color: #000;
}

@media screen and (max-width: 1225px) {
  body .menu .lunch .icon-img .pasta-menu span {
    font-size: 14px;
    width: 85px;
    top: 100px;
  }
}

@media screen and (max-width: 1225px) and (max-width: 767px) {
  body .menu .lunch .icon-img .pasta-menu span {
    top: 125px;
    left: 8px;
  }
}

body .menu .lunch .icon-img .pasta-menu:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

body .menu .lunch .icon-img .vegetablejuice-menu {
  position: absolute;
  top: 0px;
  right: 10px;
  transition: all 1s ease 0s;
}

@media screen and (max-width: 1225px) {
  body .menu .lunch .icon-img .vegetablejuice-menu {
    right: 80px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .lunch .icon-img .vegetablejuice-menu {
    position: relative;
    margin-left: 30px;
  }
}

@media screen and (max-width: 1225px) {
  body .menu .lunch .icon-img .vegetablejuice-menu img {
    width: 80px;
  }
}

@media screen and (max-width: 1225px) and (max-width: 767px) {
  body .menu .lunch .icon-img .vegetablejuice-menu img {
    width: 100px;
  }
}

body .menu .lunch .icon-img .vegetablejuice-menu span {
  position: absolute;
  top: 130px;
  left: -5px;
  color: #000;
  width: 125px;
}

@media screen and (max-width: 1225px) {
  body .menu .lunch .icon-img .vegetablejuice-menu span {
    font-size: 14px;
    top: 100px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .lunch .icon-img .vegetablejuice-menu span {
    top: 125px;
  }
}

body .menu .lunch .icon-img .vegetablejuice-menu:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

body .menu .lunch .icon-img::before {
  font-family: "Font Awesome 5 Free";
  content: "\f067";
  position: absolute;
  font-size: 30px;
  top: 65px;
  left: 160px;
  font-weight: 900;
}

@media screen and (max-width: 1225px) {
  body .menu .lunch .icon-img::before {
    left: 135px;
    font-size: 25px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .lunch .icon-img::before {
    left: 45%;
    top: 200px;
    margin-right: 50px;
  }
}

body .menu .lunch .imfomation {
  margin-top: 30px;
  width: 330px;
}

@media screen and (max-width: 767px) {
  body .menu .lunch .imfomation {
    margin: 20px auto;
    width: 90%;
  }
}

body .menu .lunch .imfomation p {
  text-align: justify;
  text-justify: inter-ideograph;
  color: #999999;
}

@media screen and (max-width: 1225px) {
  body .menu .lunch .imfomation p {
    font-size: 14px;
    width: 240px;
    margin-left: 33px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .lunch .imfomation p {
    max-width: 375px;
    width: 90%;
    margin: 10px auto;
    box-sizing: border-box;
  }
}

body .menu .dinner {
  margin-right: 70px;
}

@media screen and (max-width: 1225px) {
  body .menu .dinner {
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner {
    position: static;
    margin-right: 0;
  }
}

body .menu .dinner h2 {
  font-family: 'DIN Condensed','Yu Gothic',sans-serif;
  font-size: 50px;
  margin-bottom: 0;
  text-align: center;
}

body .menu .dinner p {
  margin-bottom: 30px;
  text-align: center;
}

body .menu .dinner .icon-img {
  position: absolute;
}

@media screen and (max-width: 767px) {
  body .menu .dinner .icon-img {
    display: flex;
    position: static;
    justify-content: center;
    padding-right: 90px;
  }
}

body .menu .dinner .icon-img .pasta-menu {
  position: relative;
  right: 120px;
  display: inline-block;
  transition: all 1s ease 0s;
}

@media screen and (max-width: 1225px) {
  body .menu .dinner .icon-img .pasta-menu {
    right: 80px;
    top: -15px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner .icon-img .pasta-menu {
    right: 40px;
  }
}

@media screen and (max-width: 1225px) {
  body .menu .dinner .icon-img .pasta-menu img {
    position: absolute;
    width: 70px;
    top: 10px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner .icon-img .pasta-menu img {
    position: relative;
    width: 100px;
  }
}

body .menu .dinner .icon-img .pasta-menu span {
  position: absolute;
  top: 130px;
  left: 0px;
  color: #000;
}

@media screen and (max-width: 1225px) {
  body .menu .dinner .icon-img .pasta-menu span {
    font-size: 12px;
    width: 85px;
    top: 100px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner .icon-img .pasta-menu span {
    top: 130px;
    left: 10px;
    font-size: 14px;
  }
}

body .menu .dinner .icon-img .pasta-menu:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

body .menu .dinner .icon-img .pizza-menu {
  position: absolute;
  top: 30px;
  left: 10px;
  transition: all 1s ease 0s;
}

@media screen and (max-width: 1225px) {
  body .menu .dinner .icon-img .pizza-menu {
    top: 25px;
    left: 0px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner .icon-img .pizza-menu {
    position: relative;
  }
}

@media screen and (max-width: 1225px) {
  body .menu .dinner .icon-img .pizza-menu img {
    width: 70px;
    position: absolute;
    top: 10px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner .icon-img .pizza-menu img {
    position: relative;
    width: 100px;
    top: 0;
    right: 15px;
  }
}

body .menu .dinner .icon-img .pizza-menu span {
  position: absolute;
  top: 100px;
  left: 0px;
  color: #000;
  width: 125px;
}

@media screen and (max-width: 1225px) {
  body .menu .dinner .icon-img .pizza-menu span {
    font-size: 12px;
    width: 85px;
    top: 78px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner .icon-img .pizza-menu span {
    top: 90px;
    font-size: 14px;
    left: -5px;
  }
}

body .menu .dinner .icon-img .pizza-menu:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

body .menu .dinner .icon-img .whinner-menu {
  position: absolute;
  top: 0px;
  left: 130px;
  transition: all 1s ease 0s;
}

@media screen and (max-width: 1225px) {
  body .menu .dinner .icon-img .whinner-menu {
    left: 85px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner .icon-img .whinner-menu {
    position: relative;
    left: 0;
  }
}

@media screen and (max-width: 1225px) {
  body .menu .dinner .icon-img .whinner-menu img {
    position: absolute;
    width: 70px;
    top: 10px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner .icon-img .whinner-menu img {
    width: 100px;
    height: 100px;
  }
}

body .menu .dinner .icon-img .whinner-menu span {
  position: absolute;
  top: 130px;
  left: 0px;
  color: #000;
  width: 125px;
}

@media screen and (max-width: 1225px) {
  body .menu .dinner .icon-img .whinner-menu span {
    font-size: 12px;
    top: 103px;
    left: -5px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner .icon-img .whinner-menu span {
    font-size: 14px;
    top: 115px;
    left: 3px;
  }
}

body .menu .dinner .icon-img .whinner-menu:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

body .menu .dinner .imfomation {
  position: absolute;
  top: 320px;
  right: 270px;
  width: 400px;
}

@media screen and (max-width: 1225px) {
  body .menu .dinner .imfomation {
    top: 300px;
    left: -80px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner .imfomation {
    position: static;
    margin: 0 auto;
    width: 90%;
  }
}

body .menu .dinner .imfomation p {
  text-align: justify;
  text-justify: inter-ideograph;
  color: #999999;
}

@media screen and (max-width: 1225px) {
  body .menu .dinner .imfomation p {
    font-size: 14px;
    width: 250px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .dinner .imfomation p {
    width: 90%;
    margin: 10px auto;
  }
}

@media screen and (max-width: 1225px) {
  body .menu .drink {
    margin-left: 70px;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  body .menu .drink {
    position: static;
    margin-left: 0;
  }
}

body .menu .drink h2 {
  font-family: 'DIN Condensed','Yu Gothic',sans-serif;
  font-size: 50px;
  margin-bottom: 0;
  margin-right: 40px;
}

@media screen and (max-width: 1225px) {
  body .menu .drink h2 {
    margin-right: 50px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .drink h2 {
    text-align: center;
    margin-right: 0;
  }
}

body .menu .drink .drink-menu {
  position: absolute;
  top: 170px;
  transition: all 1s ease 0s;
}

@media screen and (max-width: 767px) {
  body .menu .drink .drink-menu {
    position: static;
    text-align: center;
  }
}

@media screen and (max-width: 1225px) {
  body .menu .drink .drink-menu img {
    width: 80px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .drink .drink-menu img {
    width: 100px;
  }
}

body .menu .drink .drink-menu:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

body .menu .drink .imfomation {
  position: absolute;
  top: 320px;
  right: -50px;
  width: 250px;
}

@media screen and (max-width: 1225px) {
  body .menu .drink .imfomation {
    top: 300px;
    width: 130px;
    left: -20px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .drink .imfomation {
    position: static;
    width: 90%;
    margin: 0 auto;
  }
}

body .menu .drink .imfomation p {
  text-align: justify;
  text-justify: inter-ideograph;
  color: #999999;
}

@media screen and (max-width: 1225px) {
  body .menu .drink .imfomation p {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  body .menu .drink .imfomation p {
    width: 90%;
    margin: 10px auto;
  }
}

body .map .address-map {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 44.3%;
  /* = height ÷ width × 100 */
}

@media screen and (max-width: 767px) {
  body .map .address-map {
    padding-bottom: 64.3%;
  }
}

body .map .address-map iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 100% !important;
}

.footer {
  display: flex;
  margin: 60px auto;
  max-width: 1100px;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer h3 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1225px) {
  .footer p {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .footer p {
    margin: 0 auto;
  }
}

.footer .logo {
  position: relative;
}

.footer .logo img {
  width: 200px;
}

@media screen and (max-width: 1225px) {
  .footer .logo img {
    width: 150px;
  }
}

.footer .logo .main-logo-hidden {
  position: absolute;
  top: 0;
  background-color: #000;
  color: #fff;
  width: 150px;
  height: 150px;
  padding: 4rem 1.5rem 1.5rem;
}

.footer .logo .main-logo-hidden p {
  margin: 0;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer .logo .main-logo-hidden p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .footer .logo .main-logo-hidden {
    width: 100px;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 120px;
  }
}

.footer .sns {
  position: relative;
}

@media screen and (max-width: 1225px) {
  .footer .sns {
    margin-right: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer .sns {
    text-align: center;
  }
}

.footer .sns a {
  text-decoration: none;
}

.footer .sns i {
  font-size: 50px;
  color: #000;
}

.footer .sns span {
  position: absolute;
  top: 120px;
  left: -18px;
  width: 100px;
  color: #000;
}

@media screen and (max-width: 1225px) {
  .footer .sns span {
    position: static;
    display: block;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .footer .sns span {
    margin: 0 auto;
  }
}
